* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgba(56, 56, 56, 0.041);
    padding: 10px;
  
    /* background-color: #e3d4d4; */
  }
  .header {
    position: relative;
    border-radius: 1vh;
  
    height: 60vh;
  
    background-image: linear-gradient(to right, #00aaf9, #00c8ff);
    /* clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%) */
    /* clip-path: polygon(0 0, 100% 0, 100%  80%, 0 100%, 0 46%); */
  }
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .title-main {
    -webkit-text-stroke: 2px #ffffff;
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 15px;
    display: block;
    animation: main-head 1.5s ease-in;
  }
  @keyframes main-head {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .title-sub {
    font-family: "Montserrat", sans-serif;
    display: block;
    letter-spacing: 10px;
    font-weight: 200;
    margin-top: 20px;
  
    color: white;
    animation: main-sub 1s ease-in;
  }
  @keyframes main-sub {
    0% {
      opacity: 0;
      transform: translateY(10vh);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .tic-container {
    /* background-color: rgba(56, 56, 56, 0.041); */
    width: 100%;
  
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 2.5s;
    border-radius: 1vh;
  }
  .tic {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    padding: 15px 15px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    border: 2px solid #00000034;
    background-color: white;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    z-index: 0;
    text-transform: uppercase;
    letter-spacing: 8px;
    animation-name: startup;
    animation-duration: 1.5s;
  }
  @keyframes startup {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      background-color: #ee2690;
      color: white;
    }
    75% {
      opacity: 1;
      background-color: #ee2690;
      color: white;
    }
    100% {
      opacity: 1;
      background-color: white;
    }
  }
  .tic:before {
    top: 0;
    left: 0;
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
  
    background-color: #ffffff;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    z-index: -1;
  
    transition: all 1s;
  }
  .tic:hover:before {
    content: " ";
    background-color: #ee2690;
  
    transform: rotate(0deg);
  }
  .tic:hover {
    color: white;
  }
  .railwire {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 13px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  
    border: 2px solid #00000034;
    background-color: white;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    z-index: 0;
    text-transform: uppercase;
    letter-spacing: 8px;
    animation-name: railstartup;
    animation-duration: 1.5s;
  }
  
  @keyframes railstartup {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      background-color: #00a0e3;
      color: white;
    }
    75% {
      opacity: 0.5;
      background-color: #00a0e3;
      color: white;
    }
    100% {
      opacity: 1;
      background-color: white;
    }
  }
  .railwire:before {
    top: 0;
    left: 0;
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
  
    background-color: #ffffff;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: all 1s;
  }
  .railwire:hover:before {
    content: " ";
    background-color: #00a0e3;
  
    transform: rotate(0deg);
  }
  .railwire:hover {
    color: white;
  }
  .contact_heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
  }
  .chat {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  footer {
    font-family: "Montserrat", sans-serif;
  }
  @media only screen and (min-width: 495px) and (max-width: 619.98px) {
    .header {
      height: 50vh;
    }
    .title-main {
      font-size: 30px;
      letter-spacing: 10px;
    }
    .contact_heading {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .chat {
      font-size: 15px;
    }
    footer {
      font-size: 10px;
    }
  }
  @media only screen and (min-width: 360px) and (max-width: 480px) {
    body {
      margin-top: 40px;
    }
    .header {
      height: 50vh;
    }
    .title-main {
      font-size: 22px;
      letter-spacing: 5px;
    }
    .title-sub {
      font-size: 20px;
      letter-spacing: 2px;
    }
    .tic {
      padding: 8px 10px;
      letter-spacing: 4px;
    }
    .railwire {
      padding: 8px 10px;
      letter-spacing: 4px;
    }
    .contact_heading {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .chat {
      font-size: 15px;
    }
    footer {
      font-size: 10px;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 359px) {
    body {
      margin-top: 40px;
    }
    .header {
      height: 50vh;
    }
    .title-main {
      font-size: 22px;
      letter-spacing: 5px;
    }
    .title-sub {
      font-size: 20px;
      letter-spacing: 2px;
    }
    .tic {
      font-size: 15px;
      padding: 5px 2px;
      letter-spacing: 2px;
    }
    .railwire {
      font-size: 15px;
      padding: 5px 2px;
      letter-spacing: 2px;
    }
    .contact_heading {
      font-size: 17px;
      margin-bottom: 20px;
    }
    .chat {
      font-size: 12px;
    }
  
    footer {
      font-size: 6px;
    }
  }

    @media only screen and (min-width: 360px) and (max-width: 480px) {
    body {
      margin-top: 40px;
    }
    .header {
      height: 50vh;
    }
    .title-main {
      font-size: 22px;
      letter-spacing: 5px;
    }
    .title-sub {
      font-size: 20px;
      letter-spacing: 2px;
    }
    .tic {
      padding: 8px 10px;
      letter-spacing: 4px;
    }
    .railwire {
      padding: 8px 10px;
      letter-spacing: 4px;
    }
    .contact_heading {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .chat {
      font-size: 15px;
    }
    footer {
      font-size: 10px;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 359px) {
    body {
      margin-top: 40px;
    }
    .header {
      height: 50vh;
    }
    .title-main {
      font-size: 22px;
      letter-spacing: 5px;
    }
    .title-sub {
      font-size: 20px;
      letter-spacing: 2px;
    }
    .tic {
      font-size: 12px;
      padding: 5px 2px;
      letter-spacing: 2px;
    }
    .railwire {
      font-size: 12px;
      padding: 5px 2px;
      letter-spacing: 2px;
    }
    .contact_heading {
      font-size: 17px;
      margin-bottom: 20px;
    }
    .chat {
      font-size: 12px;
    }
  
    footer {
      font-size: 6px;
    }
  }
  @media only screen and (min-width: 150px) and (max-width: 219px) {
    body {
      margin-top: 40px;
    }
    .header {
      height: 50vh;
    }
    .title-main {
      font-size: 22px;
      letter-spacing: 5px;
    }
    .title-sub {
      font-size: 20px;
      letter-spacing: 2px;
    }
    .tic {
      font-size: 7px;
      padding: 5px 2px;
      letter-spacing: 2px;
    }
    .railwire {
      font-size: 7px;
      padding: 5px 2px;
      letter-spacing: 2px;
    }
    .contact_heading {
      font-size: 17px;
      margin-bottom: 20px;
    }
    .chat {
      font-size: 12px;
    }
  
    footer {
      font-size: 6px;
    }
  }
  
  